@charset "utf-8";
body {
    background-color: rgb(214, 214, 214);
}

header {
    text-align: center;
    padding: 20px;
    background-color: white;
    font-family: 'Trebuchet MS';
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;

}

.bar {
    overflow: hidden;
    background-color: rgb(70, 70, 70);
    
}

.bar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  
.bar a:hover {
    background-color: #ddd;
    color: black;
}

.rightcolumn {
    float: left;
    width: 25%;
    background-color: #ffffff;
    padding-left: 20px;
  }

.AboutMe {
    text-align: center;
    font-family: 'Trebuchet MS';
    color: rgb(90, 90, 90);
    font-size: 20px;
}

footer{
    text-align: center;
    color: rgb(170, 170, 170);
}