@charset "utf-8";
body {
    background-color: white;
}

.header {
    text-align: center;
    padding: 1px;
    background-color: green;

}

.buttons {
    float: left;
    font-family: 'Trebuchet MS';
    font-size: 35px;
    color: rgb(90, 90, 90);
    
}

.AboutMe {
    text-align: center;
    color: rgb(90, 90, 90);
}