@charset "utf-8";
body {
    background-color: white;
}

header {
    text-align: center;
    padding: 20px;
    background-color: white;
    font-family: 'Trebuchet MS';
    color: rgb(90, 90, 90);
    font-size: 30px;
    font-weight:bold;

}

.bar {
    overflow: hidden;
    background-color: rgb(114, 202, 114);
    
}

.bar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
.bar a:hover {
    background-color: #ddd;
    color: black;
  }

.AboutMe {
    text-align: center;
    font-family: 'Trebuchet MS';
    color: rgb(90, 90, 90);
}

footer{
    text-align: center;
    color: rgb(170, 170, 170);
}