@charset "utf-8";

body {
    background-color: #0F0F0F;
    margin: 0;
    
}

/* NAV */
.navBar {
    overflow: hidden;
    background-color: #005B41;
    font-family: "Lato", sans-serif;

    width: 100%;
    
}

.navBar a {
    font-size: 20px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
}

.dropDown {
    float: left;
    overflow: hidden;
    
}

.dropDown .navBarButton  {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

}

.navBar a:hover, .dropDown:hover .navBarButton {

    background-color: #ddd;
    color: #005B41;
    transition: 0.3s;

}

.dropDownContent {
    display: none;
    position: absolute;
    background-color: #ddd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropDownContent a {
    float: none;
    color: #005B41;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}
  

.dropDownContent a:hover {
    background-color: #f9f9f9;
    transition: 0.3s;
}

.dropDown:hover .dropDownContent {
    display: block;
    transition: 0.3s;
}

/* MAIN */
.containers{
    padding: 50px;
    display: flex;
    max-width: 100%;


}
.row{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: auto;
    max-width: 60%;


}
.leftContainer{

    text-align: center;
    position: relative;
    padding: 30px;
    max-width: 30%;

}
.portrait-title h2{
    font-family: "Lato", sans-serif;
    font-size: 36px;
    color: rgb(255, 255, 255);
    margin : 10px;
}
.portrait-title h3.eem{
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: #8d8d8d;
    margin : 10px;
}
.portrait-title h3{
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: #008170;
    margin : 10px;
}
img.Avatar{
    border-radius: 50%;
    width: 200px;
}



.rightContainer{

    position: relative;
    max-width: 62.2%;
    padding: 30px;
    

}
.rightContainer h1{
    font-size: 45px;
    font-family: "Lato", sans-serif;
    color: #8d8d8d;


}
.rightContainer p{
    font-size: 20px;
    font-family: "Lato", sans-serif;
    color: rgb(255, 255, 255);

} 
.rightContainerRow{
    display: flex;
}
.Interests{
    min-width: 400px;
    position: relative;
}
.Interests h3{
    color: #8d8d8d;
    font-family: "Lato", sans-serif;
    font-size: 25px;
}
.Interests h4{
    color: rgb(255, 255, 255);
    font-family: "Lato", sans-serif;
    font-size: 18px;
    margin-top: -20px;
}
.Education{
    min-width: 400px;
    position: relative;

}
.Education h3{
    
    color: #8d8d8d;
    font-family: "Lato", sans-serif;
    font-size: 25px;

}
.Education h4{
    color: rgb(255, 255, 255);
    font-family: "Lato", sans-serif;
    font-size: 18px;
    margin-top: -20px;

}
.Education .date{
    color: #8d8d8d;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    margin-top: -20px;
    margin-left: 25px;

}

.skills{
    background-color: #131313;
    margin: auto;
    padding: 20px;
}
.skills h1{
    text-align: center;
    font-family: "Lato", sans-serif;
    color: #8d8d8d;
    font-size: 45px;
    
}
.containers2{
    display: flex;
    max-width: 600px;
    margin: auto;
}

.leftContainer2{
    min-width: 50%;
    margin: auto;
}
.leftContainer2 h1{
    color: #008170;
    font-size: 75px;
}
.leftContainer2 h2{
    color: white;
    font-size: 25px;
    font-family: "Lato", sans-serif;
    text-align: center;

}
.leftContainer2 h3{
    color: #8d8d8d;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    text-align: center;

}
.rightContainer2{
    min-width: 50%;
    margin: auto;
}
.rightContainer2 h1{
    color: #008170;
    font-size: 75px;

}
.rightContainer2 h2{
    color: white;
    font-size: 25px;
    font-family: "Lato", sans-serif;
    text-align: center;

}
.rightContainer2 h3{
    color: #8d8d8d;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    text-align: center;

}


footer{
    text-align: center;
    color: #444343;
    font-family: "Lato", sans-serif;
    font-size: 18px;
}
/* MAIN */

/* Gallery MAIN*/
.galleryContainers{
    max-width: 100%;
    display: flex;
    padding: 50px;
}

.galleryRow{
    max-width: 50%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: auto;
}

.galleryContainersLeft{
    background-color: #005B41;
    text-align: center;
    position: relative;
    padding: 30px;


}
.galleryContainersLeft h1{
    color: white;
    font-size: 25px;
    font-family: "Lato", sans-serif;
    text-align: center;


}
.galleryContainersLeft h2{
    color: white;
    font-size: 25px;
    font-family: "Lato", sans-serif;
    text-align: center;


}
.galleryContainersMiddle{
    background-color: #005B41;
    text-align: center;
    position: relative;
    padding: 30px;


}
.galleryContainersMiddle h1{
    color: white;
    font-size: 25px;
    font-family: "Lato", sans-serif;
    text-align: center;

}
.galleryContainersMiddle h2{
    color: white;
    font-size: 25px;
    font-family: "Lato", sans-serif;
    text-align: center;

}
.galleryContainersRight{
    background-color: #005B41;
    text-align: center;
    position: relative;
    padding: 30px;


}
.galleryContainersRight h1{
    color: white;
    font-size: 25px;
    font-family: "Lato", sans-serif;
    text-align: center;

}
.galleryContainersRight h2{
    color: white;
    font-size: 25px;
    font-family: "Lato", sans-serif;
    text-align: center;

}


/* Gallery MAIN*/
