@charset "utf-8";

body {
    background-color: rgb(20, 20, 20);
    margin: 0;
}

.container{
    text-align: center;
    font-family: "Lato", sans-serif;
    color: white;
}
img.portrait{
    width: 50px;

}

/* NAV */
.navBar {
    overflow: hidden;
    background-color: black;
    font-family: "Lato", sans-serif;

    width: 100%;
    
}

.navBar a {
    font-size: 20px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
}

.dropDown {
    float: left;
    overflow: hidden;
    
}

.dropDown .navBarButton  {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

}

.navBar a:hover, .dropDown:hover .navBarButton {

    background-color: #ddd;
    color: black;

}

.dropDownContent {
    display: none;
    position: absolute;
    background-color: #ddd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropDownContent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  

.dropDownContent a:hover {
    background-color: #f9f9f9;
}

.dropDown:hover .dropDownContent {
    display: block;
}

@media screen and (max-width: 700px) {
    .navBar {
        overflow: hidden;
        width: 100%;
        
    }
    
    .navBar a {
        float: none;
        font-size: 20px;
        padding: 14px 16px;

    }
    
    
    .dropDown {
        
        font-size: 20px;
        border: none;
        outline: none;
        color: white;
        margin: 0;
        text-align: center;
        float: none;
        overflow: hidden;
        
    
    }
    .navBarButton {
        text-align: center;
    } 
    
    .navBar a:hover, .dropDown:hover .navBarButton {
    
        background-color: #ddd;
        color: black;
    
    }
    
    .dropDownContent {
        display: none;
        margin-left: 128px;
        background-color: #ddd;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropDownContent a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
      
    
    .dropDownContent a:hover {
        background-color: #f9f9f9;
    }
    
    .dropDown:hover .dropDownContent {
        display: block;
    }
}
/* NAV */




@media screen and (max-width: 700px) {

}
.row::after {
    content: "";
    display: table;
    clear: both;
}  

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(212, 212, 212);
}

@media screen and (max-width: 700px) {

  }

  /* @media screen and (max-width: 500px) {
    .navBar a {
      float: none;
      width: 100%;
    }
  } */
